<div class="mdui-container">
    <p></p>
    <div class="mdui-row">
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                <tr>
                    <th colspan="5">订阅配置</th>
                </tr>
                </thead>
                <tbody id="subscribe_body">
                <tr>
                    <td>最近订阅</td>
                    <td id="last_subscribe"></td>
                    <td colspan="3">
                        <div class="mdui-row">
                            <div id="update_all_subscribe" class="mdui-col-sm-3" style="display: none">
                                <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" onclick="update_all_subscribe()">全部更新</button>
                            </div>
                            <div class="mdui-col-sm-3">
                                <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" onclick="add_subscribe()">订阅</button>
                            </div>
                            <div id="ping_test" class="mdui-col-sm-3" style="display: none">
                                <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" onclick="ping_test()">ping</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="subscribe_template" class="mdui-color-light-blue-50" style="display: none">
                    <td>订阅地址</td>
                    <td>
                        <div class="url"></div>
                    </td>
                    <td colspan="3">
                        <div class="mdui-row">
                            <div class="mdui-col-sm-3">
                                <button class="update_subscribe mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple">更新</button>
                            </div>
                            <div class="mdui-col-sm-3">
                                <button class="remove_subscribe mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-red-400 mdui-ripple">删除</button>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr id="node_header_template" class="mdui-typo-caption-opacity" style="display: none">
                    <td>序号</td>
                    <td>名称</td>
                    <td>地址</td>
                    <td>延迟</td>
                    <td>操作</td>
                </tr>
                <tr id="node_template" style="display: none">
                    <td class="node_index"></td>
                    <td class="node_name"></td>
                    <td class="node_addr"></td>
                    <td class="node_delay"></td>
                    <td>
                        <div class="mdui-row">
                            <div class="mdui-chip apply_node" title="应用节点">
                                <span class="mdui-chip-icon mdui-color-light-green"><i class="mdui-icon material-icons">check</i></span>
                            </div>
                            <div class="mdui-chip get_node_link" title="拷贝链接">
                                <span class="mdui-chip-icon mdui-color-light-blue"><i class="mdui-icon material-icons">links</i></span>
                            </div>
                            <div class="mdui-chip get_node_qr" title="获取二维码">
                                <span class="mdui-chip-icon mdui-color-black"><i class="mdui-icon material-icons">border_outer</i></span>
                            </div>
                            <div class="mdui-chip delete_node" title="删除节点">
                                <span class="mdui-chip-icon mdui-color-red-500"><i class="mdui-icon material-icons">delete</i></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="qr_toast" class="mdui-dialog">
    <div class="mdui-dialog-content">
        <div id="qr_code" style="width: fit-content"></div>
    </div>
</div>

<script src="/static/js/qrcode.js"></script>
<script src="/static/js/jquery.qrcode.js"></script>
<script type="text/javascript">
    //# sourceURL=subscribe.js
    $(document).ready(function () {
        mdui.mutation();
        refresh();
    });

    function refresh() {
        $.get("/subscribe_list", function (subscribe) {
            $("#last_subscribe").html(subscribe["last_subscribe"]);
            var groups = Object.values(subscribe["groups"]);
            if (groups.length === 0) {
                $("#update_all_subscribe").hide();
                $("#ping_test").hide();
            }
            else {
                $("#update_all_subscribe").show();
                $("#ping_test").show();
            }

            $("tr[id^='real_subscribe']").remove();
            $("tr[id^='real_header']").remove();
            $("tr[id^='real_node']").remove();


            node_running = subscribe["ps"];
            tbody = $("tbody");
            for (var i = 0; i < groups.length; i++) {
                group = groups[i];
                url = group["subscribe"];
                var url_row = $("#subscribe_template").clone();
                url_row.find(".url").html(url);
                url_row.attr("id", "real_subscribe_" + (i + 1).toString());
                tbody.append(url_row);
                url_row.show();

                node_head_row = $("#node_header_template").clone();
                node_head_row.attr("id", "real_header_" + (i + 1).toString());
                tbody.append(node_head_row);
                node_head_row.show();

                node_list = group["nodes"];
                for (var j = 0; j < node_list.length; j++) {
                    node_data = node_list[j];

                    var node_row = $("#node_template").clone();
                    node_row.attr("id", "real_node_" + (j + 1).toString());
                    node_row.attr("url", url);
                    node_row.find(".node_index").html((j + 1).toString());
                    node_row.find(".node_name").html(node_data["ps"]);
                    node_row.find(".node_addr").html(node_data["add"]);
                    if (node_data["ps"] === node_running) {
                        node_row.find(".apply_node").find("i").html("vpn_key");
                    }

                    tbody.append(node_row);
                    node_row.show();
                }
            }

            $(".update_subscribe").click(function () {
                url = $(this).closest("tr").find(".url").text();
                update_subscribe(url);
            })

            $(".remove_subscribe").click(function () {
                url = $(this).closest("tr").find(".url").text();
                remove_subscribe(url);
            })

            $(".apply_node").click(function () {
                row = $(this).closest("tr");
                url = row.attr("url");
                var node_index = parseInt(row.find(".node_index").text()) - 1;
                apply_node(url, node_index);
            });

            $(".get_node_link").click(function () {
                row = $(this).closest("tr");
                url = row.attr("url");
                var node_index = parseInt(row.find(".node_index").text()) - 1;
                get_node_link(url, node_index);
            })

            $(".get_node_qr").click(function () {
                row = $(this).closest("tr");
                url = row.attr("url");
                var node_index = parseInt(row.find(".node_index").text()) - 1;
                get_node_qr(url, node_index);
            })

            $(".delete_node").click(function () {
                row = $(this).closest("tr");
                url = row.attr("url");
                var node_index = parseInt(row.find(".node_index").text()) - 1;
                delete_node(url, node_index);
            })

            update_ping_result();
        });
    }
    
    function apply_node(url, index) {
        pop_toast("正在应用节点...")
        $.get("/apply_node", {subscribe:url, node_index:index}).done(function (data) {
            if (check_result(data)) {
                update_toast("应用成功");
            }
            else {
                update_toast("应用失败");
            }
        }).always(function () {
            close_toast();
            refresh();
        });
    }
    
    function get_node_link(url, index) {
        $.get("/get_node_link", {subscribe:url, node_index:index}).done(function (data) {
            if (check_result(data)) {
                link = data["node_link"];
                copy_to_clipboard(link);
                message("链接已复制到剪贴板");
            }
        })
    }

    function get_node_qr(url, index) {
        $.get("/get_node_link", {subscribe:url, node_index:index}).done(function (data) {
            if (check_result(data)) {
                link = data["node_link"];

                $("#qr_code").empty().qrcode(link);
                toast = new mdui.Dialog("#qr_toast", { destroyOnClosed:true });
                toast.open();
                mdui.mutation();
            }
        })
    }

    function delete_node(url, index) {
        mdui.confirm("确认删除？", function () {
            $.get("/delete_node", {subscribe:url, node_index:index}).done(function (data) {
                if (check_result(data)) {
                    message("节点已删除");
                    refresh();
                }
            })
        });
    }

    function update_subscribe(url) {
        pop_toast("正在更新订阅节点...")
        $.get("/update_subscribe", {subscribe:url}).done(function (data) {
            if (check_result(data)) {
                update_toast("更新成功");
            }
            else {
                update_toast("更新失败");
            }
        }).always(function () {
            close_toast();
            refresh();
        });
    }

    function update_all_subscribe() {
        pop_toast("正在更新订阅节点...")
        $.get("/update_all_subscribe").done(function (data) {
            if (check_result(data)) {
                update_toast("更新成功");
            }
            else {
                update_toast("更新失败");
            }
        }).always(function () {
            close_toast();
            refresh();
        });
    }

    function add_subscribe() {
        mdui.prompt("请输入订阅地址：", function (url) {
            if (!url.length) {
                return;
            }
            pop_toast("正在订阅新的节点列表...");
            $.get("/add_subscribe", {subscribe:url}).done(function (data) {
                if (check_result(data)) {
                    update_toast("订阅成功");
                }
                else {
                    update_toast("订阅失败");
                }
            }).always(function () {
                close_toast();
                refresh();
            });
        });
    }

    function remove_subscribe(url) {
        mdui.confirm("确认删除？", function () {
            $.get("/remove_subscribe", {subscribe:url}).done(function (data) {
                if (check_result(data)) {
                    message("订阅已删除");
                    refresh();
                }
            })
        });
    }

    var g_ping_cache = null;
    function ping_test() {
        $.get("/subscribe_ping_all", function (data) {
            g_ping_cache = data["groups"];
            update_ping_result();
        });
    }

    function update_ping_result() {
        if (g_ping_cache != null) {
            for (var i = 0; i < g_ping_cache.length; i++) {
                group = g_ping_cache[i];
                list = group["nodes"];
                url = group["subscribe"];
                $("tbody").find(`tr[url='${url}']`).each(function (index, row) {
                    node_name = $(row).find(".node_name").text();
                    delay = list[node_name];

                    td = $(row).find(".node_delay");
                    td.removeClass("mdui-text-color-red");
                    td.removeClass("mdui-text-color-green");

                    var content = "";
                    if (-1 === delay) {
                        content = "☹";
                        td.addClass("mdui-text-color-red");
                    }
                    else {
                        content = String(delay) + " ms";
                        td.addClass("mdui-text-color-green");
                    }
                    td.html(content);
                });
            }
        }
    }
</script>